# Pulling Data from the Server and Saving it to CSV format

In this notebook we are pulling data from the Sever using pymysql library, mergint it, and storing it in csv fomat.

In [31]:
#Import required libraries
import pandas as pd     
import numpy as np      
import warnings
warnings.filterwarnings("ignore")

In [32]:
#Installing pymysql
!pip install pymysql

Requirement already satisfied: pymysql in /home/sathya/anaconda3/lib/python3.11/site-packages (1.1.0)

In [33]:
#Importing pymysql and setting up connection

import pymysql

# Database connection parameters
host = '18.136.157.135'
port = 3306
username = 'dm_team1'
password = 'DM!$Team&279@20!'
database = 'project_banking'

# Establishing a connection
connection = pymysql.connect(host=host, port=port, user=username, password=password, db=database)

# Creating a cursor object to execute SQL queries
cursor = connection.cursor()

In [34]:
cursor.execute('show databases')
for i in cursor:
    print(i)

('information_schema',)
('project_banking',)

In [35]:
db_tables=pd.read_sql_query('show tables',connection)
print(db_tables)

  Tables_in_project_banking
0              Cust_Account
1         Cust_Demographics
2              Cust_Enquiry

In [36]:
# Storing Cust_Account tables in variable
Cust_Account = pd.read_sql_query("Select * from Cust_Account",connection)

In [37]:
# Storing Cust_Demographics tables in variable
Cust_Demographics = pd.read_sql_query("Select * from Cust_Demographics",connection)

In [38]:
# put Cust_Enquiry tables in variable 
Cust_Enquiry = pd.read_sql_query("Select * from Cust_Enquiry",connection)

In [39]:
# run a code for showing all columns
pd.set_option('display.max_columns',None)
pd.reset_option('display.max_rows',None)

In [40]:
# This table contains customer’s historical accounts data and payments history.
Cust_Account

,dt_opened,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,cur_balance_amt,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount
0,10-Nov-15,12265,20-Oct-15,6,1,09-Jun-13,30-Jun-14,05-Jul-14,30-Sep-15,20900,0,,"""""""STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXS...",,01-Sep-15,01-Jul-14,,,,,
1,10-Nov-15,12265,20-Oct-15,10,1,25-May-12,06-Sep-15,,03-Oct-15,16201,10390,,"""""""0000000000000000000000000000000000000000000...","""""""000000000000000000000000000XXX0000000000000...",01-Oct-15,01-Nov-12,14000,1400,,3,5603
2,10-Nov-15,12265,20-Oct-15,10,1,22-Mar-12,31-Aug-15,,30-Sep-15,41028,34420,,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",01-Sep-15,01-Oct-12,,,,,
3,20-Jul-15,15606,09-Jul-15,10,1,13-Jan-06,,26-Jul-07,31-Jan-09,93473,0,,"""""""1200900600600600300000000000000000000000000...",,01-Jul-07,01-Feb-06,,,,,
4,20-Jul-15,15606,09-Jul-15,6,1,18-Jan-15,05-May-15,,31-May-15,20250,13500,,"""""""000000000000000""""""",,01-May-15,01-Jan-15,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186324,11-Jun-15,1611,25-May-15,10,1,02-May-07,21-Apr-15,,30-Apr-15,24228,24228,,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",01-Apr-15,01-May-12,,,,,
186325,11-Jun-15,1611,25-May-15,10,1,11-Apr-07,22-Jun-09,02-Apr-10,30-Apr-15,19584,0,,"""""""000179146119089058029000XXX""""""",,01-Apr-10,01-Aug-09,,,,3,
186326,11-Jun-15,1611,25-May-15,10,1,20-Nov-06,,12-Apr-12,31-Dec-13,50844,0,,"""""""000XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...",,01-Apr-12,01-Dec-10,,,,3,
186327,11-Jun-15,1611,25-May-15,10,1,17-Oct-06,,07-Mar-12,15-Apr-15,35587,0,,"""""""000010000000000000000000000000000XXXXXXXXXX...","""""""XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...",01-Mar-12,01-Apr-09,15000,6000,,3,
186328,11-Jun-15,1611,25-May-15,6,1,29-Nov-05,,31-Dec-08,11-Jun-10,26000,0,,"""""""000000000000000000000000000XXXXXXXXXXXXXXX0...",,01-Dec-08,01-Oct-07,,,,,

In [41]:
#  This table contains customer’s historical enquiry data such as enquiry amount and enquiry purpose.
Cust_Demographics

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_38,feature_39,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,feature_50,feature_51,feature_52,feature_53,feature_54,feature_55,feature_56,feature_57,feature_58,feature_59,feature_60,feature_61,feature_62,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label
0,18-Apr-15,1,13-Apr-15,Insignia,13-Apr-15,650,2,Card Setup,14,500000,,,,Y,IS1,,0,159,4284,4284,,1,ADFPNXXXXX,03-Sep-65,98332XXXXX,N,@REDIFFMAIL.COM,1,2,,Mumbai / Navi Mumbai / Thane,400610,1965,0,Self,Y,2,90000,,,,0,0,0,0,Mumbai,400059,@CODOGNOTTO.NET,PAN Card,ADFPNXXXXX,The Ratnakar Bank Ltd.,,Y,State Bank of India,0,01-Jun-13,17-Jun-16,1,21,,Y,Y,N,,Y,1965-0,21,15,400610,0,2,90000,Nov-00,21,R,,,0000-00-00,0,98332XXXXX,1,N,0
1,21-Apr-15,2,21-Apr-15,Insignia,21-Apr-15,760,1,Card Setup,14,1200000,,,,Y,IS1,,0,91,B001,4077,,1,AJWPRXXXXX,14-Jul-62,99455XXXXX,N,@GMAIL.COM,1,2,,Bengaluru,560042,1969,0,Self,Y,2,1,,,,0,0,0,0,Bangalore,560042,,PAN Card,AJWPRXXXXX,The Ratnakar Bank Ltd.,,N,,0,,17-Jun-16,1,17,,Y,Y,N,,Y,1969-0,17,12,560042,0,2,1,Nov-00,17,R,,,0000-00-00,0,99455XXXXX,1,N,0
2,22-Apr-15,3,21-Apr-15,Insignia,21-Apr-15,774,1,Card Setup,14,700000,,,,Y,IS1,,0,91,B001,4077,,2,AFAPNXXXXX,10-Apr-66,98456XXXXX,N,@SHOBANARAYAN.COM,1,0,,Bengaluru,560042,1966,0,Self,Y,2,1,,,,0,0,0,0,Bangalore,560042,,PAN Card,AFAPNXXXXX,,,N,,0,,17-Jun-16,3,17,,N,Y,N,,Y,1966-0,17,12,560042,0,2,1,Nov-00,17,R,,,0000-00-00,0,98456XXXXX,1,N,0
3,25-Apr-15,4,15-Apr-15,Insignia,20-Apr-15,770,1,Card Setup,14,500000,,,,Y,IS1,,0,157,5107,5107,,1,AAAPDXXXXX,16-Apr-64,98220XXXXX,N,@VSNL.COM,1,3,,Pune,411001,1988,0,Self,Y,2,100000,,,,0,0,0,0,Pune,411026,@ALBAJ.COM,PAN Card,AAAPDXXXXX,The Ratnakar Bank Ltd.,,Y,HDFC Bank,0,,17-Jun-16,1,21,,Y,Y,N,,Y,1988-0,21,16,411001,0,2,100000,Nov-00,21,R,,,6/15/65,1,98220XXXXX,1,N,0
4,06-May-15,5,30-Apr-15,Insignia,,,3,Card Setup,14,500000,,,,Y,IS1,,0,100,D016,4564,,1,ABEPSXXXXX,03-Jan-54,98111XXXXX,N,@REDIFFMAIL.COM,1,3,,Gurgaon,122009,1995,0,Self,Y,2,300000,,,,0,0,0,0,Gurgaon,122009,,PAN Card,ABEPSXXXXX,The Ratnakar Bank Ltd.,,N,,0,,17-Jun-16,1,13,,Y,Y,N,,Y,1995-0,13,3,122009,0,2,300000,Nov-00,13,R,,,0000-00-00,0,98111XXXXX,1,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23891,31-Dec-15,23892,10-Dec-15,Platinum Deligh,10-Dec-15,704,1,Card Setup,14,119000,,,,Y,PD1,PD3,12,SA05,MA01,,,1,CUQPSXXXXX,12-Oct-88,98715XXXXX,N,@YAHOO.COM,2,0,Graduate,New Delhi,110045,1988,10,Paren,Y,1,33000,Private Ltd. Co.,Others,SERVICE ASSOCIATE,2015,6,0,6,Gurgaon,122001,,PAN Card,CUQPSXXXXX,,,Y,State Bank of India,99000,01-Jan-15,17-Jun-16,1,10,Y,N,Y,N,,Y,1988-10,10,157,110045,0,1,33000,0-0,13,R,Y,,0000-00-00,0,XXXXX,1,N,0
23892,17-Dec-15,23893,16-Nov-15,Platinum Deligh,,,2,Card Setup,14,35000,,,,Y,PD1,PD3,12,SA03,AS33,,,1,DTPPSXXXXX,01-Feb-87,99101XXXXX,N,@GMAIL.COM,2,0,Graduate,New Delhi,110037,2014,12,Rente,N,1,1,Private Ltd. Co.,Others,ENGINEER,2012,12,3,0,New Delhi,110037,@GMAIL.COM,PAN Card,DTPPSXXXXX,,,N,,0,,17-Jun-16,1,10,N,N,Y,N,,Y,2014-12,33,102,282001,1,1,1,0-0,10,O,Y,,0000-00-00,0,99101XXXXX,1,N,0
23893,04-Nov-15,23894,24-Sep-15,Platinum Maxima,24-Sep-15,748,3,Card Setup,14,68000,,,,Y,PM1,,,CD01,D066,,,1,CPOPSXXXXX,08-Nov-86,99111XXXXX,Y,@GMAIL.COM,2,0,Graduate,New Delhi,110033,1986,0,Paren,Y,1,1,Private Ltd. Co.,Health Care,SENIOR ANALYST,2015,1,3,0,Gurgaon,122016,@ACCRETIVEHEALTH.COM,PAN Card,CPOPSXXXXX,,,Y,HDFC Bank,52000,01-Sep-14,17-Jun-16,1,10,,N,Y,N,,Y,1986-0,10,157,110033,0,1,1,0-0,13,R,,,0000-00-00,0,99111XXXXX,1,N,0
23894,03-Nov-15,23895,30-Sep-15,Platinum Deligh,30-Sep-15,740,3,Card Setup,14,158000,,,,Y,PD1,PD3,12,SA40,G011,,,1,AVZPGXXXXX,24-Nov-82,93100XXXXX,N,@GMAIL.COM,1,0,Graduate,New Delhi,110095,2010,0,Self,Y,2,25000,,,,0,0,0,0,New Delhi,110095,,PAN Card,AVZPGXXXXX,,,Y,Citibank N.A.,65000,01-Apr-14,17-Jun-16,2,10,,N,Y,N,,Y,2010-0,10,157,110095,0,2,25000,03-May,10,R,,,0000-00-00,0,93100XXXXX,1,N,0
23895,04-Dec-15,23896,06-Nov-15,Titanium Deligh,06-Nov-15,688,1,Card Setup,14,106000,,,,Y,TD1,,0,SA03,AS33,,,1,AJIPBXXXXX,15-Aug-83,97178XXXXX,N,@GMAIL.COM,1,0,Graduate,Ghaziabad,201005,2005,0,Paren,Y,2,1,,,,0,0,0,0,Ghaziabad,201005,,PAN Card,AJIPBXXXXX,,,Y,State Bank of India,106000,01-Feb-15,17-Jun-16,1,33,,N,Y,N,,Y,2005-0,33,41,201005,0,2,1,Aug-00,33,R,,,0000-00-00,0,97178XXXXX,1,N,0

In [42]:
# Current customer applications with demographic data
Cust_Enquiry

        dt_opened customer_no  upload_dt enquiry_dt enq_purpose  enq_amt
0       18-Apr-15           1  21-Apr-15  19-Dec-14           2  3500000
1       18-Apr-15           1  21-Apr-15  05-Mar-14           5   500000
2       18-Apr-15           1  21-Apr-15  05-Mar-14           0    50000
3       18-Apr-15           1  21-Apr-15  22-Feb-14          10    50000
4       18-Apr-15           1  21-Apr-15  11-Jun-13          10     1000
...           ...         ...        ...        ...         ...      ...
413183  04-Dec-15       23896  09-Nov-15  22-Oct-11           5   200000
413184  04-Dec-15       23896  09-Nov-15  06-Jan-11          10    50000
413185  04-Dec-15       23896  09-Nov-15  01-Apr-10          10    50000
413186  04-Dec-15       23896  09-Nov-15  21-Feb-10           1   330000
413187  04-Dec-15       23896  09-Nov-15  17-Oct-07           2   682000

[413188 rows x 6 columns]

In [43]:
#merging two tables using inner join
data = pd.merge(Cust_Account,Cust_Demographics,on ="customer_no",how="inner")

In [21]:
data

,dt_opened_x,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,cur_balance_amt,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount,dt_opened_y,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_38,feature_39,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,feature_50,feature_51,feature_52,feature_53,feature_54,feature_55,feature_56,feature_57,feature_58,feature_59,feature_60,feature_61,feature_62,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label
0,10-Nov-15,12265,20-Oct-15,6,1,09-Jun-13,30-Jun-14,05-Jul-14,30-Sep-15,20900,0,,"""""""STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXS...",,01-Sep-15,01-Jul-14,,,,,,10-Nov-15,15-Oct-15,Platinum Maxima,15-Oct-15,683,3,Card Setup,14,56000,,,,Y,PM1,,,SA05,MA01,,,1,ASWPKXXXXX,15-Jun-84,88009XXXXX,N,@GMAIL.COM,1,0,MBA/MMS,New Delhi,110059,2006,0,Paren,Y,1,35000,Private Ltd. Co.,Others,SR EXE,2009,1,4,0,Gurgaon,122001,,PAN Card,ASWPKXXXXX,,,N,,0,,17-Jun-16,1,10,,N,Y,N,,Y,2006-0,10,157,110059,0,1,35000,0-0,13,R,,,0000-00-00,0,88009XXXXX,1,N,1
1,10-Nov-15,12265,20-Oct-15,10,1,25-May-12,06-Sep-15,,03-Oct-15,16201,10390,,"""""""0000000000000000000000000000000000000000000...","""""""000000000000000000000000000XXX0000000000000...",01-Oct-15,01-Nov-12,14000,1400,,3,5603,10-Nov-15,15-Oct-15,Platinum Maxima,15-Oct-15,683,3,Card Setup,14,56000,,,,Y,PM1,,,SA05,MA01,,,1,ASWPKXXXXX,15-Jun-84,88009XXXXX,N,@GMAIL.COM,1,0,MBA/MMS,New Delhi,110059,2006,0,Paren,Y,1,35000,Private Ltd. Co.,Others,SR EXE,2009,1,4,0,Gurgaon,122001,,PAN Card,ASWPKXXXXX,,,N,,0,,17-Jun-16,1,10,,N,Y,N,,Y,2006-0,10,157,110059,0,1,35000,0-0,13,R,,,0000-00-00,0,88009XXXXX,1,N,1
2,10-Nov-15,12265,20-Oct-15,10,1,22-Mar-12,31-Aug-15,,30-Sep-15,41028,34420,,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",01-Sep-15,01-Oct-12,,,,,,10-Nov-15,15-Oct-15,Platinum Maxima,15-Oct-15,683,3,Card Setup,14,56000,,,,Y,PM1,,,SA05,MA01,,,1,ASWPKXXXXX,15-Jun-84,88009XXXXX,N,@GMAIL.COM,1,0,MBA/MMS,New Delhi,110059,2006,0,Paren,Y,1,35000,Private Ltd. Co.,Others,SR EXE,2009,1,4,0,Gurgaon,122001,,PAN Card,ASWPKXXXXX,,,N,,0,,17-Jun-16,1,10,,N,Y,N,,Y,2006-0,10,157,110059,0,1,35000,0-0,13,R,,,0000-00-00,0,88009XXXXX,1,N,1
3,20-Jul-15,15606,09-Jul-15,10,1,13-Jan-06,,26-Jul-07,31-Jan-09,93473,0,,"""""""1200900600600600300000000000000000000000000...",,01-Jul-07,01-Feb-06,,,,,,20-Jul-15,06-Jul-15,Platinum Deligh,06-Jul-15,687,3,Card Setup,14,125000,,,,Y,PD1,PD3,12,SA35,S001,,,1,AHRPMXXXXX,20-Jun-80,88009XXXXX,N,@YAHOO.COM,1,2,Post-Graduate,Faridabad,121003,2009,0,Self,Y,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,2013,1,2,0,Faridabad,121003,@SUPERFASHIONINDIA.COM,PAN Card,AHRPMXXXXX,Indian Bank,,N,,0,,17-Jun-16,1,13,,N,Y,N,,Y,2009-0,13,39,121003,0,1,100000,0-0,13,R,,,0000-00-00,0,XXXXX,1,N,1
4,20-Jul-15,15606,09-Jul-15,6,1,18-Jan-15,05-May-15,,31-May-15,20250,13500,,"""""""000000000000000""""""",,01-May-15,01-Jan-15,,,,,,20-Jul-15,06-Jul-15,Platinum Deligh,06-Jul-15,687,3,Card Setup,14,125000,,,,Y,PD1,PD3,12,SA35,S001,,,1,AHRPMXXXXX,20-Jun-80,88009XXXXX,N,@YAHOO.COM,1,2,Post-Graduate,Faridabad,121003,2009,0,Self,Y,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,2013,1,2,0,Faridabad,121003,@SUPERFASHIONINDIA.COM,PAN Card,AHRPMXXXXX,Indian Bank,,N,,0,,17-Jun-16,1,13,,N,Y,N,,Y,2009-0,13,39,121003,0,1,100000,0-0,13,R,,,0000-00-00,0,XXXXX,1,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186324,11-Jun-15,1611,25-May-15,10,1,02-May-07,21-Apr-15,,30-Apr-15,24228,24228,,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",01-Apr-15,01-May-12,,,,,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0
186325,11-Jun-15,1611,25-May-15,10,1,11-Apr-07,22-Jun-09,02-Apr-10,30-Apr-15,19584,0,,"""""""000179146119089058029000XXX""""""",,01-Apr-10,01-Aug-09,,,,3,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0
186326,11-Jun-15,1611,25-May-15,10,1,20-Nov-06,,12-Apr-12,31-Dec-13,50844,0,,"""""""000XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...",,01-Apr-12,01-Dec-10,,,,3,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0
186327,11-Jun-15,1611,25-May-15,10,1,17-Oct-06,,07-Mar-12,15-Apr-15,35587,0,,"""""""000010000000000000000000000000000XXXXXXXXXX...","""""""XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...",01-Mar-12,01-Apr-09,15000,6000,,3,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0
186328,11-Jun-15,1611,25-May-15,6,1,29-Nov-05,,31-Dec-08,11-Jun-10,26000,0,,"""""""000000000000000000000000000XXXXXXXXXXXXXXX0...",,01-Dec-08,01-Oct-07,,,,,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0

# Basic Checks

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186329 entries, 0 to 186328
Columns: 103 entries, dt_opened_x to Bad_label
dtypes: object(103)
memory usage: 147.8+ MB

In [45]:
data.describe()

,dt_opened_x,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,cur_balance_amt,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount,dt_opened_y,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_38,feature_39,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,feature_50,feature_51,feature_52,feature_53,feature_54,feature_55,feature_56,feature_57,feature_58,feature_59,feature_60,feature_61,feature_62,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label
count,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329
unique,197,23896,75,31,4,6246,4511,4840,1877,67555,56425,630,18311,11912,234,235,1380,1456,1476,3,18300,197,297,8,282,263,4,2,2,485,20,20,8,3,17,15,3,365,523,303,13,3,10610,8463,3251,3,722,3,12,11,63,965,53,14,6,3,4,4334,10,12,5664,19,14,13,13,71,937,4473,6,11250,57,19,3,11,660,181,2,5,13,3,3,3,3,9,3,492,28,425,3013,3,4,4334,134,14,3,3,4,63,6,3124,4,3,2
top,16-Nov-15,8516,21-Apr-15,10,1,13-Apr-12,,,31-Jul-15,,0,,"""""""0000000000000000000000000000000000000000000...",,01-Jul-15,01-Jan-15,,,,,,16-Nov-15,23-Oct-15,Platinum Maxima,,,3,Card Setup,14,150000,,,,Y,PM1,,12,SA03,AS03,,,1,AAIPKXXXXX,01-Jan-86,98100XXXXX,N,@GMAIL.COM,1,0,Graduate,New Delhi,110059,2010,0,Self,Y,1,1,Private Ltd. Co.,Banking/Financial Services,,0,0,0,0,New Delhi,201301,,PAN Card,XXXXX,,,Y,,0,,17-Jun-16,1,10,,N,Y,N,,Y,2010-0,10,157,110059,0,1,1,0-0,10,R,,,0000-00-00,0,XXXXX,1,N,0
freq,4643,120,5128,100239,177287,514,25487,109075,12654,8875,89872,185453,44979,107824,16747,5640,137477,151047,161496,122436,145276,4643,1478,76014,20401,20401,114716,186196,186196,5985,176212,176212,185958,177801,74160,108074,78255,68912,9382,176325,186121,178862,173,176,1672,164440,112409,156610,109617,110025,87577,7498,13905,167805,92451,160573,133980,61597,61860,97943,52349,52216,60444,53877,182249,70243,15257,103193,176024,940,140986,185406,103897,83203,85133,84043,186196,178905,87577,169092,182223,177801,183578,186217,186161,12813,75473,75473,6646,160573,133980,61597,134163,70243,130100,164759,186132,185399,185462,16349,179451,186166,179716

In [46]:
data.describe(include="O")

,dt_opened_x,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,cur_balance_amt,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount,dt_opened_y,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_38,feature_39,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,feature_50,feature_51,feature_52,feature_53,feature_54,feature_55,feature_56,feature_57,feature_58,feature_59,feature_60,feature_61,feature_62,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label
count,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329,186329
unique,197,23896,75,31,4,6246,4511,4840,1877,67555,56425,630,18311,11912,234,235,1380,1456,1476,3,18300,197,297,8,282,263,4,2,2,485,20,20,8,3,17,15,3,365,523,303,13,3,10610,8463,3251,3,722,3,12,11,63,965,53,14,6,3,4,4334,10,12,5664,19,14,13,13,71,937,4473,6,11250,57,19,3,11,660,181,2,5,13,3,3,3,3,9,3,492,28,425,3013,3,4,4334,134,14,3,3,4,63,6,3124,4,3,2
top,16-Nov-15,8516,21-Apr-15,10,1,13-Apr-12,,,31-Jul-15,,0,,"""""""0000000000000000000000000000000000000000000...",,01-Jul-15,01-Jan-15,,,,,,16-Nov-15,23-Oct-15,Platinum Maxima,,,3,Card Setup,14,150000,,,,Y,PM1,,12,SA03,AS03,,,1,AAIPKXXXXX,01-Jan-86,98100XXXXX,N,@GMAIL.COM,1,0,Graduate,New Delhi,110059,2010,0,Self,Y,1,1,Private Ltd. Co.,Banking/Financial Services,,0,0,0,0,New Delhi,201301,,PAN Card,XXXXX,,,Y,,0,,17-Jun-16,1,10,,N,Y,N,,Y,2010-0,10,157,110059,0,1,1,0-0,10,R,,,0000-00-00,0,XXXXX,1,N,0
freq,4643,120,5128,100239,177287,514,25487,109075,12654,8875,89872,185453,44979,107824,16747,5640,137477,151047,161496,122436,145276,4643,1478,76014,20401,20401,114716,186196,186196,5985,176212,176212,185958,177801,74160,108074,78255,68912,9382,176325,186121,178862,173,176,1672,164440,112409,156610,109617,110025,87577,7498,13905,167805,92451,160573,133980,61597,61860,97943,52349,52216,60444,53877,182249,70243,15257,103193,176024,940,140986,185406,103897,83203,85133,84043,186196,178905,87577,169092,182223,177801,183578,186217,186161,12813,75473,75473,6646,160573,133980,61597,134163,70243,130100,164759,186132,185399,185462,16349,179451,186166,179716

In [47]:
len(data.columns)

103

# Data Pre-Processing

In [53]:
for column in data.columns:
    print(f"{column}: {data[column].isnull().sum()}")

dt_opened_x: 0
customer_no: 0
upload_dt: 0
acct_type: 0
owner_indic: 0
opened_dt: 0
last_paymt_dt: 0
closed_dt: 0
reporting_dt: 0
high_credit_amt: 0
cur_balance_amt: 0
amt_past_due: 0
paymenthistory1: 0
paymenthistory2: 0
paymt_str_dt: 0
paymt_end_dt: 0
creditlimit: 0
cashlimit: 0
rateofinterest: 0
paymentfrequency: 0
actualpaymentamount: 0
dt_opened_y: 0
entry_time: 0
feature_1: 0
feature_2: 0
feature_3: 0
feature_4: 0
feature_5: 0
feature_6: 0
feature_7: 0
feature_8: 0
feature_9: 0
feature_10: 0
feature_11: 0
feature_12: 0
feature_13: 0
feature_14: 0
feature_15: 0
feature_16: 0
feature_17: 0
feature_18: 0
feature_19: 0
feature_20: 0
feature_21: 0
feature_22: 0
feature_23: 0
feature_24: 0
feature_25: 0
feature_26: 0
feature_27: 0
feature_28: 0
feature_29: 0
feature_30: 0
feature_31: 0
feature_32: 0
feature_33: 0
feature_34: 0
feature_35: 0
feature_36: 0
feature_37: 0
feature_38: 0
feature_39: 0
feature_40: 0
feature_41: 0
feature_42: 0
feature_43: 0
feature_44: 0
feature_45: 0
feature_46: 0
feature_47: 0
feature_48: 0
feature_49: 0
feature_50: 0
feature_51: 0
feature_52: 0
feature_53: 0
feature_54: 0
feature_55: 0
feature_56: 0
feature_57: 0
feature_58: 0
feature_59: 0
feature_60: 0
feature_61: 0
feature_62: 0
feature_63: 0
feature_64: 0
feature_65: 0
feature_66: 0
feature_67: 0
feature_68: 0
feature_69: 0
feature_70: 0
feature_71: 0
feature_72: 0
feature_73: 0
feature_74: 0
feature_75: 0
feature_76: 0
feature_77: 0
feature_78: 0
feature_79: 0
Bad_label: 0

There are no null values

In [54]:
data.duplicated().sum()

2401

In [55]:
data.drop_duplicates(inplace=True)

In [56]:
data

,dt_opened_x,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,cur_balance_amt,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount,dt_opened_y,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_38,feature_39,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,feature_50,feature_51,feature_52,feature_53,feature_54,feature_55,feature_56,feature_57,feature_58,feature_59,feature_60,feature_61,feature_62,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label
0,10-Nov-15,12265,20-Oct-15,6,1,09-Jun-13,30-Jun-14,05-Jul-14,30-Sep-15,20900,0,,"""""""STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXS...",,01-Sep-15,01-Jul-14,,,,,,10-Nov-15,15-Oct-15,Platinum Maxima,15-Oct-15,683,3,Card Setup,14,56000,,,,Y,PM1,,,SA05,MA01,,,1,ASWPKXXXXX,15-Jun-84,88009XXXXX,N,@GMAIL.COM,1,0,MBA/MMS,New Delhi,110059,2006,0,Paren,Y,1,35000,Private Ltd. Co.,Others,SR EXE,2009,1,4,0,Gurgaon,122001,,PAN Card,ASWPKXXXXX,,,N,,0,,17-Jun-16,1,10,,N,Y,N,,Y,2006-0,10,157,110059,0,1,35000,0-0,13,R,,,0000-00-00,0,88009XXXXX,1,N,1
1,10-Nov-15,12265,20-Oct-15,10,1,25-May-12,06-Sep-15,,03-Oct-15,16201,10390,,"""""""0000000000000000000000000000000000000000000...","""""""000000000000000000000000000XXX0000000000000...",01-Oct-15,01-Nov-12,14000,1400,,3,5603,10-Nov-15,15-Oct-15,Platinum Maxima,15-Oct-15,683,3,Card Setup,14,56000,,,,Y,PM1,,,SA05,MA01,,,1,ASWPKXXXXX,15-Jun-84,88009XXXXX,N,@GMAIL.COM,1,0,MBA/MMS,New Delhi,110059,2006,0,Paren,Y,1,35000,Private Ltd. Co.,Others,SR EXE,2009,1,4,0,Gurgaon,122001,,PAN Card,ASWPKXXXXX,,,N,,0,,17-Jun-16,1,10,,N,Y,N,,Y,2006-0,10,157,110059,0,1,35000,0-0,13,R,,,0000-00-00,0,88009XXXXX,1,N,1
2,10-Nov-15,12265,20-Oct-15,10,1,22-Mar-12,31-Aug-15,,30-Sep-15,41028,34420,,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",01-Sep-15,01-Oct-12,,,,,,10-Nov-15,15-Oct-15,Platinum Maxima,15-Oct-15,683,3,Card Setup,14,56000,,,,Y,PM1,,,SA05,MA01,,,1,ASWPKXXXXX,15-Jun-84,88009XXXXX,N,@GMAIL.COM,1,0,MBA/MMS,New Delhi,110059,2006,0,Paren,Y,1,35000,Private Ltd. Co.,Others,SR EXE,2009,1,4,0,Gurgaon,122001,,PAN Card,ASWPKXXXXX,,,N,,0,,17-Jun-16,1,10,,N,Y,N,,Y,2006-0,10,157,110059,0,1,35000,0-0,13,R,,,0000-00-00,0,88009XXXXX,1,N,1
3,20-Jul-15,15606,09-Jul-15,10,1,13-Jan-06,,26-Jul-07,31-Jan-09,93473,0,,"""""""1200900600600600300000000000000000000000000...",,01-Jul-07,01-Feb-06,,,,,,20-Jul-15,06-Jul-15,Platinum Deligh,06-Jul-15,687,3,Card Setup,14,125000,,,,Y,PD1,PD3,12,SA35,S001,,,1,AHRPMXXXXX,20-Jun-80,88009XXXXX,N,@YAHOO.COM,1,2,Post-Graduate,Faridabad,121003,2009,0,Self,Y,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,2013,1,2,0,Faridabad,121003,@SUPERFASHIONINDIA.COM,PAN Card,AHRPMXXXXX,Indian Bank,,N,,0,,17-Jun-16,1,13,,N,Y,N,,Y,2009-0,13,39,121003,0,1,100000,0-0,13,R,,,0000-00-00,0,XXXXX,1,N,1
4,20-Jul-15,15606,09-Jul-15,6,1,18-Jan-15,05-May-15,,31-May-15,20250,13500,,"""""""000000000000000""""""",,01-May-15,01-Jan-15,,,,,,20-Jul-15,06-Jul-15,Platinum Deligh,06-Jul-15,687,3,Card Setup,14,125000,,,,Y,PD1,PD3,12,SA35,S001,,,1,AHRPMXXXXX,20-Jun-80,88009XXXXX,N,@YAHOO.COM,1,2,Post-Graduate,Faridabad,121003,2009,0,Self,Y,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,2013,1,2,0,Faridabad,121003,@SUPERFASHIONINDIA.COM,PAN Card,AHRPMXXXXX,Indian Bank,,N,,0,,17-Jun-16,1,13,,N,Y,N,,Y,2009-0,13,39,121003,0,1,100000,0-0,13,R,,,0000-00-00,0,XXXXX,1,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186324,11-Jun-15,1611,25-May-15,10,1,02-May-07,21-Apr-15,,30-Apr-15,24228,24228,,"""""""0000000000000000000000000000000000000000000...","""""""0000000000000000000000000000000000000000000...",01-Apr-15,01-May-12,,,,,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0
186325,11-Jun-15,1611,25-May-15,10,1,11-Apr-07,22-Jun-09,02-Apr-10,30-Apr-15,19584,0,,"""""""000179146119089058029000XXX""""""",,01-Apr-10,01-Aug-09,,,,3,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0
186326,11-Jun-15,1611,25-May-15,10,1,20-Nov-06,,12-Apr-12,31-Dec-13,50844,0,,"""""""000XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...",,01-Apr-12,01-Dec-10,,,,3,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0
186327,11-Jun-15,1611,25-May-15,10,1,17-Oct-06,,07-Mar-12,15-Apr-15,35587,0,,"""""""000010000000000000000000000000000XXXXXXXXXX...","""""""XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...",01-Mar-12,01-Apr-09,15000,6000,,3,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0
186328,11-Jun-15,1611,25-May-15,6,1,29-Nov-05,,31-Dec-08,11-Jun-10,26000,0,,"""""""000000000000000000000000000XXXXXXXXXXXXXXX0...",,01-Dec-08,01-Oct-07,,,,,,11-Jun-15,21-May-15,Titanium Deligh,21-May-15,746,3,Card Setup,14,138000,,,,Y,TD1,,0,BBOL,H004,,,1,AOSPPXXXXX,10-Feb-76,80085XXXXX,N,@gmail.com,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,1999,0,11,0,Hyderabad,500003,,PAN Card,AOSPPXXXXX,HDFC Bank,,N,,0,,17-Jun-16,1,2,,N,Y,N,,Y,1995-0,2,14,500017,0,1,45800,0-0,2,R,,,0000-00-00,0,80085XXXXX,1,N,0

In [57]:
data.columns

Index(['dt_opened_x', 'customer_no', 'upload_dt', 'acct_type', 'owner_indic',
       'opened_dt', 'last_paymt_dt', 'closed_dt', 'reporting_dt',
       'high_credit_amt',
       ...
       'feature_71', 'feature_72', 'feature_73', 'feature_74', 'feature_75',
       'feature_76', 'feature_77', 'feature_78', 'feature_79', 'Bad_label'],
      dtype='object', length=103)

In [58]:
correlation_matrix = data.corr()

In [61]:
correlation_matrix

Empty DataFrame
Columns: []
Index: []

In [62]:
# now we are going to drop unnecessary columns

data.drop(["reporting_dt","paymenthistory1","dt_opened_y","entry_time","feature_2","feature_20","feature_21",
          "feature_22","feature_24","feature_46","feature_47","feature_54","feature_75","feature_77","last_paymt_dt","paymt_str_dt","paymt_end_dt","feature_5","feature_6","feature_62","feature_70",
           "feature_79","feature_39","dt_opened_x","upload_dt"],axis=1,inplace=True)

In [63]:
data

,customer_no,acct_type,owner_indic,opened_dt,closed_dt,high_credit_amt,cur_balance_amt,amt_past_due,paymenthistory2,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount,feature_1,feature_3,feature_4,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_23,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_38,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_48,feature_49,feature_50,feature_51,feature_52,feature_53,feature_55,feature_56,feature_57,feature_58,feature_59,feature_60,feature_61,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_71,feature_72,feature_73,feature_74,feature_76,feature_78,Bad_label
0,12265,6,1,09-Jun-13,05-Jul-14,20900,0,,,,,,,,Platinum Maxima,683,3,56000,,,,Y,PM1,,,SA05,MA01,,,1,N,1,0,MBA/MMS,New Delhi,110059,2006,0,Paren,Y,1,35000,Private Ltd. Co.,Others,SR EXE,1,4,0,Gurgaon,122001,,,,N,,0,,1,10,,N,Y,N,,2006-0,10,157,110059,0,1,35000,13,R,,,0,1,1
1,12265,10,1,25-May-12,,16201,10390,,"""""""000000000000000000000000000XXX0000000000000...",14000,1400,,3,5603,Platinum Maxima,683,3,56000,,,,Y,PM1,,,SA05,MA01,,,1,N,1,0,MBA/MMS,New Delhi,110059,2006,0,Paren,Y,1,35000,Private Ltd. Co.,Others,SR EXE,1,4,0,Gurgaon,122001,,,,N,,0,,1,10,,N,Y,N,,2006-0,10,157,110059,0,1,35000,13,R,,,0,1,1
2,12265,10,1,22-Mar-12,,41028,34420,,"""""""0000000000000000000000000000000000000000000...",,,,,,Platinum Maxima,683,3,56000,,,,Y,PM1,,,SA05,MA01,,,1,N,1,0,MBA/MMS,New Delhi,110059,2006,0,Paren,Y,1,35000,Private Ltd. Co.,Others,SR EXE,1,4,0,Gurgaon,122001,,,,N,,0,,1,10,,N,Y,N,,2006-0,10,157,110059,0,1,35000,13,R,,,0,1,1
3,15606,10,1,13-Jan-06,26-Jul-07,93473,0,,,,,,,,Platinum Deligh,687,3,125000,,,,Y,PD1,PD3,12,SA35,S001,,,1,N,1,2,Post-Graduate,Faridabad,121003,2009,0,Self,Y,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,1,2,0,Faridabad,121003,@SUPERFASHIONINDIA.COM,Indian Bank,,N,,0,,1,13,,N,Y,N,,2009-0,13,39,121003,0,1,100000,13,R,,,0,1,1
4,15606,6,1,18-Jan-15,,20250,13500,,,,,,,,Platinum Deligh,687,3,125000,,,,Y,PD1,PD3,12,SA35,S001,,,1,N,1,2,Post-Graduate,Faridabad,121003,2009,0,Self,Y,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,1,2,0,Faridabad,121003,@SUPERFASHIONINDIA.COM,Indian Bank,,N,,0,,1,13,,N,Y,N,,2009-0,13,39,121003,0,1,100000,13,R,,,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186324,1611,10,1,02-May-07,,24228,24228,,"""""""0000000000000000000000000000000000000000000...",,,,,,Titanium Deligh,746,3,138000,,,,Y,TD1,,0,BBOL,H004,,,1,N,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,0,Hyderabad,500003,,HDFC Bank,,N,,0,,1,2,,N,Y,N,,1995-0,2,14,500017,0,1,45800,2,R,,,0,1,0
186325,1611,10,1,11-Apr-07,02-Apr-10,19584,0,,,,,,3,,Titanium Deligh,746,3,138000,,,,Y,TD1,,0,BBOL,H004,,,1,N,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,0,Hyderabad,500003,,HDFC Bank,,N,,0,,1,2,,N,Y,N,,1995-0,2,14,500017,0,1,45800,2,R,,,0,1,0
186326,1611,10,1,20-Nov-06,12-Apr-12,50844,0,,,,,,3,,Titanium Deligh,746,3,138000,,,,Y,TD1,,0,BBOL,H004,,,1,N,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,0,Hyderabad,500003,,HDFC Bank,,N,,0,,1,2,,N,Y,N,,1995-0,2,14,500017,0,1,45800,2,R,,,0,1,0
186327,1611,10,1,17-Oct-06,07-Mar-12,35587,0,,"""""""XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...",15000,6000,,3,,Titanium Deligh,746,3,138000,,,,Y,TD1,,0,BBOL,H004,,,1,N,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,0,Hyderabad,500003,,HDFC Bank,,N,,0,,1,2,,N,Y,N,,1995-0,2,14,500017,0,1,45800,2,R,,,0,1,0
186328,1611,6,1,29-Nov-05,31-Dec-08,26000,0,,,,,,,,Titanium Deligh,746,3,138000,,,,Y,TD1,,0,BBOL,H004,,,1,N,1,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,0,Self,Y,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,0,Hyderabad,500003,,HDFC Bank,,N,,0,,1,2,,N,Y,N,,1995-0,2,14,500017,0,1,45800,2,R,,,0,1,0

In [64]:
# run a loop for getting all columns unique values

for i in data.columns:
    print(f"======= { i } ========\n")
    print(data[i].value_counts())

======= customer_no ========

8814     76
11922    71
8872     68
51       66
18936    65
         ..
3257      1
20690     1
9396      1
5549      1
17698     1
Name: customer_no, Length: 23896, dtype: int64
======= acct_type ========

10    99102
6     25252
5     22629
1      9291
13     8478
2      5577
7      4163
0      3891
12     1188
32      735
51      719
3       666
15      493
17      412
8       404
53      377
4       184
52       97
54       71
35       54
9        50
31       26
59       22
55       17
56        8
34        5
33        5
14        5
11        4
16        2
57        1
Name: acct_type, dtype: int64
======= owner_indic ========

1    175046
4      6180
2      1549
3      1153
Name: owner_indic, dtype: int64
======= opened_dt ========

13-Apr-12    503
31-Oct-14    472
             426
31-Jan-15    339
30-Sep-14    333
            ...
22-Apr-94      1
02-Apr-01      1
07-Oct-00      1
21-May-01      1
02-Jun-00      1
Name: opened_dt, Length: 6246, dtype: int64
======= closed_dt ========

             107775
05-Mar-12       341
11-Aug-11       289
31-Dec-08       280
05-Mar-13       274
              ...
21-Feb-03         1
07-Sep-98         1
20-Jul-02         1
13-Sep-01         1
01-Aug-03         1
Name: closed_dt, Length: 4840, dtype: int64
======= high_credit_amt ========

          8718
100000    3925
150000    2296
200000    2134
300000    1598
          ...
83047        1
236488       1
54980        1
99908        1
29516        1
Name: high_credit_amt, Length: 67555, dtype: int64
======= cur_balance_amt ========

0         88588
-1         1901
-2          427
-3          303
-4          226
          ...
51624         1
45916         1
458092        1
8888          1
24228         1
Name: cur_balance_amt, Length: 56425, dtype: int64
======= amt_past_due ========

          183063
400           42
2             30
1             25
3             18
           ...
89             1
1756           1
212652         1
38838          1
8769           1
Name: amt_past_due, Length: 630, dtype: int64
======= paymenthistory2 ========

                                                                106395
"""000000000000000000000000000000000000000000000000000000"""     18691
"""XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"""      3832
"""000"""                                                         2588
"""000000"""                                                      2051
                                                                 ...
"""000000000001000000000000000000000000000000"""                     1
"""015000060030015000015030015015015015015000000015000015"""         1
"""030030030000"""                                                   1
"""XXXSTDXXXXXXSTDSTDXXXSTDSTDXXXSTDSTDSTDSTDSTDSTDSTDSTD"""         1
"""XXXXXXXXXXXXXXXXXXXXXXXX150060030030001000000001030001"""         1
Name: paymenthistory2, Length: 11912, dtype: int64
======= creditlimit ========

          135629
50000       2532
10000       1928
20000       1192
15000       1120
           ...
249750         1
57800          1
93200          1
108750         1
42490          1
Name: creditlimit, Length: 1380, dtype: int64
======= cashlimit ========

         149025
10000      3801
5000        709
1000        641
6000        573
          ...
12888         1
71504         1
48650         1
22903         1
11310         1
Name: cashlimit, Length: 1456, dtype: int64
======= rateofinterest ========

          159408
39          4983
40.8        2499
41.4        1858
10          1493
           ...
27.67          1
27.045         1
30.34          1
20.11          1
33.14          1
Name: rateofinterest, Length: 1476, dtype: int64
======= paymentfrequency ========

     120801
3     63009
1       118
Name: paymentfrequency, dtype: int64
======= actualpaymentamount ========

           143343
5000          503
10000         437
2000          357
3000          309
            ...
19635           1
4365            1
1243785         1
16805           1
39499           1
Name: actualpaymentamount, Length: 18300, dtype: int64
======= feature_1 ========

Platinum Maxima    74870
Platinum Deligh    59694
Titanium Deligh    46022
RBL Bank Fun+       1644
Insignia             868
Golf Card            403
Platinum Cricke      303
                     124
Name: feature_1, dtype: int64
======= feature_3 ========

       19654
682     3070
694     2809
676     2552
708     2536
       ...
850        2
844        1
864        1
856        1
847        1
Name: feature_3, Length: 263, dtype: int64
======= feature_4 ========

3    112867
1     55382
2     15555
        124
Name: feature_4, dtype: int64
======= feature_7 ========

150000    5850
50000     4924
100000    3887
35000     3442
30000     3216
          ...
6000         3
444000       3
435000       2
11600        2
465000       2
Name: feature_7, Length: 485, dtype: int64
======= feature_8 ========

         174031
ROTVR      2516
RCFO       2229
RMTVR      2107
RCFR       1114
RRTVR       848
RNOI        830
RRCPV        72
RCBSR        63
ROCPV        49
RFCU         20
RMIC         14
RUTR         14
RNOA          7
RINF          5
RPRN          4
RROCL         2
RMINV         1
RCBNH         1
RCBL          1
Name: feature_8, dtype: int64
======= feature_9 ========

                                                             174031
Negative Office Tele Verification                              2516
Contactability Failure at Office                               2229
Negative Mobile tele Verification                              2107
Contactability Failure at Residence                            1114
Negative Residence Tele Verification                            848
Not Interested                                                  830
Negative Residence Field Verification                            72
CIBIL Score Requirement Not Met                                  63
Negative Office Field Verification                               49
Fraud Check Negative                                             20
Minimum Income Requirement Not Met - VI Program                  14
Credit Card Utilisation Requirement Not Met                      14
Not Applied                                                       7
Information Mismatch                                              5
Program Requirement Not Met                                       4
Residence Outside City Limits                                     2
Minimum Account / Loan / Card Vintage Requirement Not Met         1
CIBIL No Hit                                                      1
CIBIL Guidelines Not Met                                          1
Name: feature_9, dtype: int64
======= feature_10 ========

               183565
3.09E+11          299
1.01E+15           33
30900114539        18
3.07E+11            6
5.54E+15            5
1.00E+15            1
C                   1
Name: feature_10, dtype: int64
======= feature_11 ========

Y    175453
N      8351
        124
Name: feature_11, dtype: int64
======= feature_12 ========

PM1    73036
PD1    59543
TD1    45680
PM2     1815
PB1     1587
IS1      744
GO1      403
TD2      343
DD1      279
PD2      150
         124
IS2      124
PB2       57
DD2       24
PM3       16
PM4        2
PD3        1
Name: feature_12, dtype: int64
======= feature_13 ========

       106507
PD3     58515
TD3     18515
PM1       147
PM2        48
TD4        35
TD5        34
PM3        31
DD3        24
PD2        21
TD1        18
PD1        14
PM4         8
IS2         7
GO1         4
Name: feature_13, dtype: int64
======= feature_14 ========

12    77421
      60577
0     45930
Name: feature_14, dtype: int64
======= feature_15 ========

SA03    68096
HA03     9396
SA01     8750
SA05     7794
W01      6549
        ...
5           1
79          1
PM02        1
MA31        1
DA30        1
Name: feature_15, Length: 365, dtype: int64
======= feature_16 ========

AS03    9260
AS19    9152
AS16    9050
AS17    8291
MA01    7157
        ...
4008       1
LS01       1
4247       1
D026       1
RV01       1
Name: feature_16, Length: 523, dtype: int64
======= feature_17 ========

        174093
5622      2122
5736       848
1677       384
6177       352
         ...
6589         1
4617         1
3316         1
1137         1
2312         1
Name: feature_17, Length: 303, dtype: int64
======= feature_18 ========

        183720
180         83
113         33
MA03        19
3452        18
6380        18
91          16
2219         7
q            5
4539         3
3344         3
TD3          2
3665         1
Name: feature_18, dtype: int64
======= feature_19 ========

1    176542
2      7262
        124
Name: feature_19, dtype: int64
======= feature_23 ========

N    162322
Y     21482
        124
Name: feature_23, dtype: int64
======= feature_25 ========

1    154440
2     29364
        124
Name: feature_25, dtype: int64
======= feature_26 ========

0     108467
2      38951
1      18676
3      12796
4       3614
5       1049
6        177
         124
7         45
10        22
8          5
9          2
Name: feature_26, dtype: int64
======= feature_27 ========

Graduate         108659
Post-Graduate     36577
                  29733
MBA/MMS            2325
Diploma            1837
Others             1501
Doctor             1242
Professional       1070
Engineer            621
CA                  339
Architect            24
Name: feature_27, dtype: int64
======= feature_28 ========

New Delhi                       86485
Hyderabad / Secunderabad        21285
Mumbai / Navi Mumbai / Thane    16313
Ghaziabad                       10294
Gurgaon                         10077
                                ...
Ankleshwar                          2
Krishna                             1
Jind                                1
Dadra and Nagar Haveli              1
Sindhudurg                          1
Name: feature_28, Length: 63, dtype: int64
======= feature_29 ========

110059    7373
122001    6642
110092    4509
110085    4135
201301    4075
          ...
470117       1
521002       1
415205       1
121102       1
126102       1
Name: feature_29, Length: 965, dtype: int64
======= feature_30 ========

2010    13752
2000    13451
2012    12432
2013    11634
2011    10773
2005    10452
2014     9178
2009     7849
1995     6532
2008     6407
2007     6386
1990     5655
1985     5272
2003     3900
2006     3805
1980     3760
2015     3096
2004     2825
1984     2785
2001     2754
1986     2491
1987     2448
1983     2427
2002     2379
1988     2314
1982     2239
1989     1981
1999     1955
1981     1841
1979     1807
1975     1746
1964     1660
1978     1441
1976     1191
1992     1184
1998     1169
1977     1103
1993     1069
1991     1004
1974     1001
1997      997
1970      864
1973      707
1972      657
1969      631
1994      624
1996      620
1965      451
1971      375
1968      264
1967      239
1966      227
          124
Name: feature_30, dtype: int64
======= feature_31 ========

0     165657
1       4655
12      3258
6       1522
11      1473
4       1402
9       1147
3        930
2        850
5        780
8        736
7        729
10       665
         124
Name: feature_31, dtype: int64
======= feature_32 ========

Self     91298
Paren    46444
Rente    44703
Compa     1044
PG/Ho      315
           124
Name: feature_32, dtype: int64
======= feature_33 ========

Y    158438
N     25366
        124
Name: feature_33, dtype: int64
======= feature_34 ========

1    132303
2     51189
3       312
        124
Name: feature_34, dtype: int64
======= feature_35 ========

1        60911
40000    14130
50000    10100
30000     9391
35000     6247
         ...
36073        1
14086        1
66288        1
28726        1
65857        1
Name: feature_35, Length: 4334, dtype: int64
======= feature_36 ========

Private Ltd. Co.           61146
                           51625
Public Ltd Co.             42741
MNC                        11137
Proprietorship             11020
Government Organisation     5846
Partnership Co.              178
PSU                          176
Partnership                   54
Others                         5
Name: feature_36, dtype: int64
======= feature_37 ========

Banking/Financial Services    96642
                              51625
Others                        23391
Information Technology         6014
Industrial                     2147
KPO/LPO/ITES                   1513
Health Care                    1209
Manufacturing                   522
Transportation/Logistics        408
Real Estate                     258
Tourism                         185
Agriculture                      14
Name: feature_37, dtype: int64
======= feature_38 ========

                      51625
MANAGER               13482
ASST MANAGER           5914
EXECUTIVE              3784
SR EXECUTIVE           3446
                      ...
SR SALES CONSULANT        1
JR RESIDENT DOCTOR        1
ASM LF FF                 1
VENUE MANAGER             1
B DEVELOPMENT MGR         1
Name: feature_38, Length: 5664, dtype: int64
======= feature_40 ========

0     59582
1     37070
6     12506
2     11118
3     10398
4     10283
5      7222
8      7116
7      7080
9      6709
11     5053
12     4860
10     4807
        124
Name: feature_40, dtype: int64
======= feature_41 ========

0     53132
11    50044
10    14564
8     12571
5     10638
7     10550
6      9072
9      8110
4      5958
3      4767
2      2829
1      1569
        124
Name: feature_41, dtype: int64
======= feature_42 ========

0     179870
5       1758
6       1101
1        221
3        208
8        154
         124
2        117
4        116
7        107
9         79
10        51
11        22
Name: feature_42, dtype: int64
======= feature_43 ========

New Delhi                 69368
Gurgaon                   24417
Hyderabad                 21539
Noida                     17901
Mumbai                    12666
                          ...
East godavari                 2
Muzaffarnagar                 1
Dadra and Nagar Haveli        1
Satara                        1
Daman and Diu                 1
Name: feature_43, Length: 71, dtype: int64
======= feature_44 ========

201301    15130
122001    13440
122002     5556
110001     4152
110020     3430
          ...
470004        1
416203        1
415110        1
416234        1
400108        1
Name: feature_44, Length: 937, dtype: int64
======= feature_45 ========

                       101696
@GMAIL.COM              14424
@YAHOO.COM               2281
@RBLBANK.COM             2241
@YAHOO.CO.IN             1054
                        ...
@SHIVALIKPRINTS.COM         1
@APAR.COM                   1
@TMS.CO.IN                  1
@AMBUJAOVERSEAS.COM         1
@THROWBACKTRIP.COM          1
Name: feature_45, Length: 4473, dtype: int64
======= feature_48 ========

                                             139295
HDFC Bank                                     11238
ICICI Bank                                     9031
AXIS Bank                                      4220
The Ratnakar Bank Ltd.                         3911
State Bank of India                            3136
Citibank N.A.                                  1898
Kotak Mahindra Bank Ltd.                       1885
Standard Chartered Bank                         990
IDBI Bank Ltd.                                  800
Yes Bank                                        691
Punjab National Bank                            632
Union Bank of India                             436
HDFC Ltd.                                       425
Corporation Bank                                410
IndusInd Bank Ltd.                              404
Indian Overseas Bank                            396
Bank of Baroda                                  364
HSBC Bank                                       326
Oriental Bank of Commerce                       322
Canara Bank                                     311
Bank of India                                   268
Syndicate Bank                                  245
Royal Bank of Scotland                          241
Indian Bank                                     228
Andhra Bank                                     192
Central Bank of India                           187
Karnataka Bank Ltd.                             157
Karur Vysya Bank Ltd.                           133
Federal Bank                                    118
Vijaya Bank                                     117
Deutsche Bank AG                                112
Allahabad Bank                                   90
UCO Bank                                         89
ING Vysya Bank Ltd.                              61
Dena Bank                                        60
State Bank of Travancore                         58
SBI HFC                                          56
State Bank of Mysore                             56
Sarsawat bank                                    51
Bank of Maharashtra                              36
United Bank of India                             32
State Bank of Patiala                            30
Punjab &amp; Maharashtra Co-op. Bank Ltd.        29
South Indian Bank Ltd.                           28
State Bank of Bikaner &amp; Jaipur               28
SBI Commercial and International                 19
Bajaj Finance Limited                            14
City Union Bank Ltd.                             12
Shamrao Vithal Co-op Bank                        11
Tamilnad Mercantile Bank Ltd.                    10
Jammu &amp; Kashmir Bank Ltd.                     9
Punjab &amp; Sind Bank                            9
Abhyudaya Co-op. Bank Ltd.                        8
Dhanlaxmi Bank Ltd.                               8
ACE Co-Operative Bank Ltd.                        3
Development Credit Bank Ltd.                      2
Name: feature_48, dtype: int64
======= feature_49 ========

               183029
3.09E+11          617
3.00E+11           66
1.01E+11           62
3.10E+11           46
4.09E+11           36
1650139            13
10614179           11
30900048978         8
1.00E+11            7
1731996             7
10490498            5
756857              5
10621493            4
772374              3
1531761             3
8.09E+11            3
30900961529         2
1676840             1
Name: feature_49, dtype: int64
======= feature_50 ========

Y    102440
N     81364
        124
Name: feature_50, dtype: int64
======= feature_51 ========

                                        82250
HDFC Bank                               43181
State Bank of India                     18515
Citibank N.A.                           15255
AXIS Bank                                7478
ICICI Bank                               6347
Standard Chartered Bank                  4605
IndusInd Bank Ltd.                       1732
HSBC Bank                                1645
Kotak Mahindra Bank Ltd.                 1596
American Express Banking Corporation     1324
Name: feature_51, dtype: int64
======= feature_52 ========

0         84185
100000     4930
50000      4916
75000      3556
60000      2656
          ...
780000        2
50625         2
56600         2
594000        2
110500        1
Name: feature_52, Length: 660, dtype: int64
======= feature_53 ========

             83090
01-Jun-14     4757
01-Jul-14     4593
01-Sep-14     4519
01-Aug-14     4328
             ...
01-Aug-15       10
01-Apr-15        8
01-Jul-04        6
01-Dec-05        4
01-Nov-03        1
Name: feature_53, Length: 181, dtype: int64
======= feature_55 ========

1    176586
3      5489
2      1603
4       126
        124
Name: feature_55, dtype: int64
======= feature_56 ========

10    86485
2     23752
21    19398
13    17713
33    16274
12     9496
17     5197
31     4914
35      482
        124
20       53
29       39
8         1
Name: feature_56, dtype: int64
======= feature_57 ========

     166932
Y     15862
N      1134
Name: feature_57, dtype: int64
======= feature_58 ========

N    179893
Y      3911
        124
Name: feature_58, dtype: int64
======= feature_59 ========

Y    175453
N      8351
        124
Name: feature_59, dtype: int64
======= feature_60 ========

N    181218
Y      2586
        124
Name: feature_60, dtype: int64
======= feature_61 ========

          183826
GNWX-B        30
5617          20
258625        17
631280        10
137968        10
229766         6
500034         5
M              4
Name: feature_61, dtype: int64
======= feature_63 ========

2010-0     12660
2000-0     11907
2012-0     11260
2013-0     10411
2011-0      9878
           ...
1972-5         2
1996-5         1
1994-6         1
1968-12        1
1993-4         1
Name: feature_63, Length: 492, dtype: int64
======= feature_64 ========

10    74504
2     23999
33    20594
21    19158
13    15247
12     9558
17     5265
31     4978
5      3670
26     1054
35     1009
29      966
16      821
34      814
20      736
28      378
14      323
18      256
15      134
        124
4       121
7        92
6        57
22       34
25       19
23       10
11        6
8         1
Name: feature_64, dtype: int64
======= feature_65 ========

157    74504
14     20484
15     10988
41      8983
39      7151
       ...
320        1
456        1
467        1
586        1
139        1
Name: feature_65, Length: 425, dtype: int64
======= feature_66 ========

110059    6521
122001    4369
110085    3901
110092    3262
110018    3082
          ...
226102       1
124501       1
209111       1
301026       1
733209       1
Name: feature_66, Length: 3013, dtype: int64
======= feature_67 ========

0    158438
1     25366
        124
Name: feature_67, dtype: int64
======= feature_68 ========

1    132303
2     51189
3       312
        124
Name: feature_68, dtype: int64
======= feature_69 ========

1        60911
40000    14130
50000    10100
30000     9391
35000     6247
         ...
36073        1
14086        1
66288        1
28726        1
65857        1
Name: feature_69, Length: 4334, dtype: int64
======= feature_71 ========

10    69368
13    28997
2     23760
33    22120
21    19486
12     9484
17     5178
31     4845
35      473
        124
20       53
29       38
9         1
8         1
Name: feature_71, dtype: int64
======= feature_72 ========

R    128440
O     55364
        124
Name: feature_72, dtype: int64
======= feature_73 ========

     162698
Y     14930
N      6300
Name: feature_73, dtype: int64
======= feature_74 ========

     183731
2       149
3        43
4         5
Name: feature_74, dtype: int64
======= feature_76 ========

0    183107
1       521
2       132
        124
4        27
3        17
Name: feature_76, dtype: int64
======= feature_78 ========

1    177143
2      5816
3       845
        124
Name: feature_78, dtype: int64
======= Bad_label ========

0    177448
1      6480
Name: Bad_label, dtype: int64

In [65]:
data.drop(["owner_indic","feature_11","feature_19","feature_23","feature_25","feature_31","feature_33","feature_42",
          "feature_55","feature_58","feature_59","feature_60","feature_67","feature_76","feature_78","feature_52",],axis=1,inplace=True)

In [66]:
data

,customer_no,acct_type,opened_dt,closed_dt,high_credit_amt,cur_balance_amt,amt_past_due,paymenthistory2,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount,feature_1,feature_3,feature_4,feature_7,feature_8,feature_9,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_26,feature_27,feature_28,feature_29,feature_30,feature_32,feature_34,feature_35,feature_36,feature_37,feature_38,feature_40,feature_41,feature_43,feature_44,feature_45,feature_48,feature_49,feature_50,feature_51,feature_53,feature_56,feature_57,feature_61,feature_63,feature_64,feature_65,feature_66,feature_68,feature_69,feature_71,feature_72,feature_73,feature_74,Bad_label
0,12265,6,09-Jun-13,05-Jul-14,20900,0,,,,,,,,Platinum Maxima,683,3,56000,,,,PM1,,,SA05,MA01,,,0,MBA/MMS,New Delhi,110059,2006,Paren,1,35000,Private Ltd. Co.,Others,SR EXE,1,4,Gurgaon,122001,,,,N,,,10,,,2006-0,10,157,110059,1,35000,13,R,,,1
1,12265,10,25-May-12,,16201,10390,,"""""""000000000000000000000000000XXX0000000000000...",14000,1400,,3,5603,Platinum Maxima,683,3,56000,,,,PM1,,,SA05,MA01,,,0,MBA/MMS,New Delhi,110059,2006,Paren,1,35000,Private Ltd. Co.,Others,SR EXE,1,4,Gurgaon,122001,,,,N,,,10,,,2006-0,10,157,110059,1,35000,13,R,,,1
2,12265,10,22-Mar-12,,41028,34420,,"""""""0000000000000000000000000000000000000000000...",,,,,,Platinum Maxima,683,3,56000,,,,PM1,,,SA05,MA01,,,0,MBA/MMS,New Delhi,110059,2006,Paren,1,35000,Private Ltd. Co.,Others,SR EXE,1,4,Gurgaon,122001,,,,N,,,10,,,2006-0,10,157,110059,1,35000,13,R,,,1
3,15606,10,13-Jan-06,26-Jul-07,93473,0,,,,,,,,Platinum Deligh,687,3,125000,,,,PD1,PD3,12,SA35,S001,,,2,Post-Graduate,Faridabad,121003,2009,Self,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,1,2,Faridabad,121003,@SUPERFASHIONINDIA.COM,Indian Bank,,N,,,13,,,2009-0,13,39,121003,1,100000,13,R,,,1
4,15606,6,18-Jan-15,,20250,13500,,,,,,,,Platinum Deligh,687,3,125000,,,,PD1,PD3,12,SA35,S001,,,2,Post-Graduate,Faridabad,121003,2009,Self,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,1,2,Faridabad,121003,@SUPERFASHIONINDIA.COM,Indian Bank,,N,,,13,,,2009-0,13,39,121003,1,100000,13,R,,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186324,1611,10,02-May-07,,24228,24228,,"""""""0000000000000000000000000000000000000000000...",,,,,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995-0,2,14,500017,1,45800,2,R,,,0
186325,1611,10,11-Apr-07,02-Apr-10,19584,0,,,,,,3,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995-0,2,14,500017,1,45800,2,R,,,0
186326,1611,10,20-Nov-06,12-Apr-12,50844,0,,,,,,3,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995-0,2,14,500017,1,45800,2,R,,,0
186327,1611,10,17-Oct-06,07-Mar-12,35587,0,,"""""""XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...",15000,6000,,3,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995-0,2,14,500017,1,45800,2,R,,,0
186328,1611,6,29-Nov-05,31-Dec-08,26000,0,,,,,,,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995-0,2,14,500017,1,45800,2,R,,,0

In [67]:
data.isnull().sum()

customer_no        0
acct_type          0
opened_dt          0
closed_dt          0
high_credit_amt    0
                  ..
feature_71         0
feature_72         0
feature_73         0
feature_74         0
Bad_label          0
Length: 62, dtype: int64

In [68]:
# Converting Date columns in date formate using pd.to_datetime technique
def convert_into_datetime(columns):
    data[columns]=pd.to_datetime(data[columns])
    
# Converting the columns into Datetime using for loop
for i in ['opened_dt']:  
    convert_into_datetime(i) 
    
# Create the new columns with month 
data['opened_dt_year']=data['opened_dt'].dt.year

data.drop('opened_dt',axis=1,inplace=True)  # drop opened_dt columns because now it's not necessary

In [69]:
data.feature_63 = data['feature_63'].str.split('-',expand=True)[0]

In [71]:
data

,customer_no,acct_type,closed_dt,high_credit_amt,cur_balance_amt,amt_past_due,paymenthistory2,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount,feature_1,feature_3,feature_4,feature_7,feature_8,feature_9,feature_10,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_26,feature_27,feature_28,feature_29,feature_30,feature_32,feature_34,feature_35,feature_36,feature_37,feature_38,feature_40,feature_41,feature_43,feature_44,feature_45,feature_48,feature_49,feature_50,feature_51,feature_53,feature_56,feature_57,feature_61,feature_63,feature_64,feature_65,feature_66,feature_68,feature_69,feature_71,feature_72,feature_73,feature_74,Bad_label,opened_dt_year
0,12265,6,05-Jul-14,20900,0,,,,,,,,Platinum Maxima,683,3,56000,,,,PM1,,,SA05,MA01,,,0,MBA/MMS,New Delhi,110059,2006,Paren,1,35000,Private Ltd. Co.,Others,SR EXE,1,4,Gurgaon,122001,,,,N,,,10,,,2006,10,157,110059,1,35000,13,R,,,1,2013.0
1,12265,10,,16201,10390,,"""""""000000000000000000000000000XXX0000000000000...",14000,1400,,3,5603,Platinum Maxima,683,3,56000,,,,PM1,,,SA05,MA01,,,0,MBA/MMS,New Delhi,110059,2006,Paren,1,35000,Private Ltd. Co.,Others,SR EXE,1,4,Gurgaon,122001,,,,N,,,10,,,2006,10,157,110059,1,35000,13,R,,,1,2012.0
2,12265,10,,41028,34420,,"""""""0000000000000000000000000000000000000000000...",,,,,,Platinum Maxima,683,3,56000,,,,PM1,,,SA05,MA01,,,0,MBA/MMS,New Delhi,110059,2006,Paren,1,35000,Private Ltd. Co.,Others,SR EXE,1,4,Gurgaon,122001,,,,N,,,10,,,2006,10,157,110059,1,35000,13,R,,,1,2012.0
3,15606,10,26-Jul-07,93473,0,,,,,,,,Platinum Deligh,687,3,125000,,,,PD1,PD3,12,SA35,S001,,,2,Post-Graduate,Faridabad,121003,2009,Self,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,1,2,Faridabad,121003,@SUPERFASHIONINDIA.COM,Indian Bank,,N,,,13,,,2009,13,39,121003,1,100000,13,R,,,1,2006.0
4,15606,6,,20250,13500,,,,,,,,Platinum Deligh,687,3,125000,,,,PD1,PD3,12,SA35,S001,,,2,Post-Graduate,Faridabad,121003,2009,Self,1,100000,Private Ltd. Co.,Banking/Financial Services,GENRAL MANAGER OPERATIONS,1,2,Faridabad,121003,@SUPERFASHIONINDIA.COM,Indian Bank,,N,,,13,,,2009,13,39,121003,1,100000,13,R,,,1,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186324,1611,10,,24228,24228,,"""""""0000000000000000000000000000000000000000000...",,,,,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995,2,14,500017,1,45800,2,R,,,0,2007.0
186325,1611,10,02-Apr-10,19584,0,,,,,,3,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995,2,14,500017,1,45800,2,R,,,0,2007.0
186326,1611,10,12-Apr-12,50844,0,,,,,,3,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995,2,14,500017,1,45800,2,R,,,0,2006.0
186327,1611,10,07-Mar-12,35587,0,,"""""""XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...",15000,6000,,3,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995,2,14,500017,1,45800,2,R,,,0,2006.0
186328,1611,6,31-Dec-08,26000,0,,,,,,,,Titanium Deligh,746,3,138000,,,,TD1,,0,BBOL,H004,,,3,Post-Graduate,Hyderabad / Secunderabad,500017,1995,Self,1,45800,Private Ltd. Co.,Banking/Financial Services,MANAGER,0,11,Hyderabad,500003,,HDFC Bank,,N,,,2,,,1995,2,14,500017,1,45800,2,R,,,0,2005.0